@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  min-height: 100%;
  width: 100%;
  max-width: 100%;
}

body {
  min-height: 100%;
  width: 100%;
  max-width: 100%;
  overflow-x: hidden;
  @apply bg-slate-100 text-slate-900 font-body antialiased;
}

#root {
  min-height: 100%;
  width: 100%;
  max-width: 100%;
  overflow-x: hidden;
}

.container-page {
  @apply mx-auto max-w-6xl px-4 py-10;
}


